{% extends "base_panel.html" %}

{% block title %}Catálogo{% endblock %}

{% block content %}

<table>

<tr>
    <th>Autoparte</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Acción</th>
</tr>

<tr>
    <td>Filtro de aceite</td>
    <td>$250</td>
    <td>15</td>
    <td><button>Agregar</button></td>
</tr>

<tr>
    <td>Balatas freno</td>
    <td>$600</td>
    <td>8</td>
    <td><button>Agregar</button></td>
</tr>

<tr>
    <td>Bujías</td>
    <td>$120</td>
    <td>30</td>
    <td><button>Agregar</button></td>
</tr>

</table>

{% endblock %}