{% extends "base_auth.html" %}

{% block content %}

<div class="auth-container">
    <form class="auth-form">
        <div class="auth-box">
            <div class="circle"></div>
            <h2>BIENVENIDO</h2>
            <label>Correo electrónico</label>
            <input type="email" placeholder="correo@email.com">
            <label>Contraseña</label>
            <input type="password" placeholder="********">
            <a href="#" class="forgot-link">Olvidé mi contraseña</a>
        </div>
        <div class="auth-actions">
            <a href="/catalogo" class="btn-alt">ENTRAR</a>
            <a href="/register" class="btn-alt">REGISTRARSE</a>
        </div>
    </form>
</div>

{% endblock %}