{% extends "base_auth.html" %}

{% block content %}

<div class="auth-container">
    <form class="auth-form" method="POST" action="/register">
        <div class="auth-box">
            <h2>REGISTRO</h2>

            {% if error %}
            <p class="error-msg">{{ error }}</p>
            {% endif %}

            <label>Nombre completo</label>
            <input type="text" name="nombre" placeholder="Tu nombre" required>

            <label>Correo electrónico</label>
            <input type="email" name="correo" placeholder="correo@email.com" required>

            <label>Contraseña</label>
            <input type="password" name="contrasena" placeholder="********" required>

            <label>Confirmar contraseña</label>
            <input type="password" name="confirmar" placeholder="********" required>
        </div>

        <div class="auth-actions">
            <a href="/login" class="btn-alt">YA TENGO CUENTA</a>
            <button type="submit" class="btn-alt">REGISTRARME</button>
        </div>
    </form>
</div>

{% endblock %}